[submodule "Robot/external/ngtcp2"]
	path = Robot/external/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2
[submodule "Robot/external/libnice"]
	path = Robot/external/libnice
	url = https://gitlab.freedesktop.org/libnice/libnice.git
[submodule "Robot/external/gstreamer"]
	path = Robot/external/gstreamer
	url = https://github.com/GStreamer/gstreamer
